.megaContainer{
	width:100%;
	min-height:100vh;
	display:flex;	
	flex-direction: row;
	gap: 10px;
	padding: 15px;
/*	flex-wrap: wrap-reverse;*/


}

.megaContent1{
	width: 100%;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.Block1,.Block2{
	width: 100%;

	height: auto;
	min-height: 400px;
/*	height: auto;*/
	background-color: rgba(256, 256, 256, 0.1);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 35px;
	padding: 15px;
	
	opacity: 0;
	transform: translateX(-100px) ;
	transition: height 350ms;
	
	
}

.content1{
	align-self: center;
	color: whitesmoke;
}

.content2{
	display: flex;
	flex-direction: row;
	justify-content:space-evenly;
	flex-wrap: wrap;
}

.content3{
	align-self: center;
}

.content3 button{
	background: transparent;
	border: none;
	outline: none;

}

.content3 button svg {
	width: 100%;
	font-size: 45px;
	color: whitesmoke;
	cursor: pointer;
}


.megaContent2{
	width: 30%;
	height: auto;
	min-height: 100vh;
	background-color: rgba(256, 256, 256, 0.1);
	border-radius: 15px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 15px;
	opacity: 0;
	transform: translateX(100px);
	transition: 350ms;
}

.megaContent2 h5 {
	color: whitesmoke;
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.megaContent2 h5 svg{
	font-size: 19px;
}

.content1,.content2{
	
}

.miniBlock1{
	align-self: center;
	font-weight: bold;
	color: rgba(256, 256, 256, 0.7);

}

.miniBlock2{
	align-self: center;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between ;
	gap: 15px;
}

.item1{
	align-self: flex-start;
	width: 75px;
	height: 75px;
	border: 2px solid whitesmoke;
	border-radius: 7px;
/*	flex: 1;*/
	display: flex;
	justify-content: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.item1 svg {
	align-self: center;
	color: whitesmoke;
	font-size: 25px;
	filter: drop-shadow(1px 1px 3px black);
	cursor: pointer;
}

.item2{
	align-self: center;
	flex: 1;
	color: whitesmoke;
}

.item3{
	display:flex;
	flex-direction:row;
	gap:10px;
	justify-content:center;
	align-items:center;
}

.favoriteMusic button{
	background-color:transparent;
	border:none;
	cursor:pointer;
}

.favoriteMusic button svg {
	font-size:25px;
/*	color:ghostwhite;*/
	transition:150ms linear;
}

.unaddedMusic svg{
	color:ghostwhite;
}

.addedMusic svg{
	color:rgb(113, 92, 213);
}


.unaddedMusic svg:hover {
	transform:scale(1.05);
	color:rgb(113, 92, 213);
	transition:150ms linear;
}

.addedMusic svg:hover {
	transform:scale(1.05);
	color:ghostwhite;
	transition:150ms linear;
}


.saveMusic{
	align-self: center;
	display: flex;
	flex-direction: column;
	color: whitesmoke;
	justify-content: center;
	font-family: monospace;
	font-size: 13px;

}

.saveMusic a svg{
	color: whitesmoke;
	font-size: 25px;
}

.saveMusic a svg:hover{
	color:rgb(113, 92, 213);
	transition:250ms linear;
}


.miniBlock3{
	align-self: center;
}

.miniBlock3 button{
	padding:5px 25px 5px 25px;
	background-color:transparent;
	color:#999;
	border:3px solid #999;
	border-radius:7px;
	font-weight:bold;
}

.miniTrack{
	min-width: 300px;
	width: 200px;
	height: auto;
/*	height: 500px;*/
	display: flex;
	flex-direction: column;
/*	justify-content: center;*/
	gap: 30px;
	
}

.trackItem1{
	align-self: center;
	width: 200px;
	height: 200px;
	background-size: 100% 100%;
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.3);
	border: 2px solid whitesmoke;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	font-size: 48px;
}

.trackItem1 svg {
	cursor: pointer;
}

.trackItem2 {
	align-self: center;
	color: whitesmoke;
	font-weight: bold;
	font-size: 18px;
}

.trackItem2 a{
	
	color: whitesmoke;
	
}

.animBlock1,.animBlock2,.animBlock3{
	height: auto;
	opacity: 1;
	transform: translateX(0px) translateY(0px);
	transition: 350ms;
}

.blockShadow{
/*	box-shadow: inset 5px 5px 15px whitesmoke;*/
/*background-color: rgba(256, 256, 256, 0.2);*/
transform:scale(1.1);
	transition: 250ms linear;
}

@media screen and (max-width:978px){
	.megaContainer{
		padding: 10px;
		flex-direction: column;
		gap: 15px;
	}

	.megaContent2{
		width: 100%;
		height: auto;
	}

	.Block1,.Block2{
		justify-content: center;
		gap: 25px;
	}
}

@media screen and (max-width:430px){
	.megaContainer{
		padding: 10px;
		flex-direction: column;
		gap: 15px;
	}

	.megaContent2{
		width: 100%;
		height: auto;
	}

	.Block1,.Block2{
		justify-content: center;
		gap: 0;
	}


}