.megaContainer {
	width:100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	gap:25px;
	padding: 15px;
/*	background-color:rgba(0, 0, 0, 0.5);*/
	/*position: sticky;
	top: 0px;*/
/*	bottom:0px;*/
border-bottom:5px solid rgba(87,61,255, 0.1);


}

.content1,.content2,.content3 {
	flex:1 0 350px;
}

.content1{

	display:flex;
	justify-content: flex-start;
}
.content1 button{
/*	align-self: flex-start;*/
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	
	
}

/*.content1 button svg {
	color:rgba(87,61,255, 0.5)
}
*/
.content1 span {

	flex: 1;
	align-self: center;
	display: flex;
	justify-content: center;
	font-size: 36px;
	color: whitesmoke;
	opacity: 0.7;
	
}

.content1 span img {
	filter:drop-shadow(1px 1px 1px rgba(256,256,256,0.5));
	border:none;
	outline:none;
}

.content2{
/*	align-self: center;*/
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.miniContent1{
	display: flex;
	flex-direction: row;
	gap: 30px;
}

/*.miniContent1 a {
	color: ghostwhite;
	text-decoration: none;
	font-weight: bold;

}*/



.NavLink{
	color: #999;
	text-decoration: none;
	font-weight: bold;
	display:flex;
	flex-direction:column;
	transition:350ms;
}

.miniItem1{
	align-self:center;
}

.miniItem2{
	font-family:monospace;
	letter-spacing:1px;
	display:flex;
	flex-direction:row;
/*	gap:5px;*/
	justify-content:center;
	align-items:center;
/*	flex:1;*/
	transition: 350ms linear;
}

.notific{
	color: whitesmoke;
	transform: scale(1.1);
	transition: 350ms linear;
}

.notific::after {
	content:"+";
}



.active{
	
	color:whitesmoke;
	
}

.active svg{
	transition:350ms;
	color:rgb(87,61,255);
	transform:scale(1.2);
}

.miniContent2{
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*.content3{
	display: flex;
	justify-content: center;
	align-items: center;
}*/

.content3{
	width: 100%;
	height:auto;
	min-height: 80px;
/*	border-radius: 30px;*/
/*	background-color:#000033;;*/
background: rgb(87,61,205);
background: radial-gradient(circle, rgba(87,61,205,0.9) 58%, rgba(25,28,38,0.5) 97%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap:10px;
	align-items: center;
	padding: 10px;
	border-top: 2px solid #4C0099;
	position: fixed;
	bottom:0;
	left:0;
	z-index: 999;
	transition:height 250ms linear;

}



@media screen and (max-width:430px){
	.megaContainer{
		padding: 10px;
	}
}