.Container{
	width: 100%;
	height: 100vh;
	position: fixed;
	top:0;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(2px);
	transition: 350ms;

}


.megaContainer{

	width:20%;
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	opacity: 0;
	transform:translateX(-100px);
	background-color:rgba(256, 256, 256, 0.8);
	animation:animSideBar 300ms linear forwards;
	backdrop-filter: blur(5px);
	border-start-end-radius: 20px;
	border-end-end-radius: 20px;
	z-index:99;
}

@keyframes animSideBar {
	100%{
		opacity: 1;
	transform:translateX(0px)
	}
}

@media screen and (max-width:430px){
	.megaContainer{
		width:100%;
	}
}