.megaContainer{
	width:100%;
	min-height:400px;
/*	background-color: #001933;*/
/*background: rgb(86,27,125);*/
/*background: linear-gradient(0deg,rgba(26,45,78,1)  10%,  rgba(86,27,125,1) 100%);*/
	border-top:9px groove #999;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);


}

.megaContent{
	width: 100%;
/*	min-height: 400px;*/
		display:flex;
	flex-direction: column;
	padding: 10px 100px 0px 100px;
/*	background-color: rgba(0, 0, 0, 0.4);*/
}

.container1{
	padding: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap:90px;
	flex-wrap: wrap-reverse;
	border-bottom: 2px solid #999;

}

/*.content2{
	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
}
*/
.content1,.content2,.content3{
	min-width: 300px;
	display: flex;
	flex-direction: column;
	flex: 1;
	gap:15px;
}

.miniBlock1{
	align-self: center;
	border-bottom: 2px solid #999;
	color: #999;
}

.miniBlock2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:5px;
}

.miniBlock2 a {
	color: #999;
	font-size: 24px;
}

.miniBlock2 svg {
	color: #999;
}

.container2{
	padding: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #999;
	opacity: 0.5;
	text-align: center;

}

@media screen and (max-width:430px){

	.megaContent{
		padding: 5px 10px 100px 10px;
	}
	.container1{
		padding: 5px;
		gap:5px;
	}

	.content1,.content2,.content3 {
		gap:10px;
		border-end-start-radius: 15px;
border-end-end-radius: 15px;
		
	}

	.content2,.content3{
border-bottom: 3px solid #555;

		padding: 10px;
	}

	.miniBlock1{
		font-size: 14px;
	}

	.miniBlock2 a{
		font-size: 13px;
	}
}