.App {
/*  padding:15px;*/
  display:flex;
  flex-direction:column;
  gap:20px;
/*  height:200vh;*/
user-select: none;
}

.loader {
  width:100%;
  min-height:70vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.loading {
    width:100%;
  min-height:70vh;
  display:flex;
  justify-content:center;
  align-items:center;
}


@media screen and (max-width:430px) {
  .App{
    padding:0;
  }
}


